#playing-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  border: 2px solid; 
  background-color: #eee;
  align-items: center;
}

.card {
  width: 200px; /*set to 20vw*/
  height: 300px; /*set to 50vh*/
  background-color: white;
  border: solid 1px black;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.left {
  box-sizing: border-box;
  background-color: #eee;
  display: flex;
  flex-flow: row wrap;
  word-break: break-all;
  width: 30px;
  height: 80px;
  padding: 5px;
  border: solid 2px #333;
  align-self: flex-start;
  font-size: 30px;
}

.middle {
  display: flex;
  width: 20px;
  height: 20px;
  border: solid 2px #333;
  align-self: center;
}

.right {
  width: 20px;
  height: 20px;
  border: solid 2px #333;
  align-self: flex-end;
  text-align: center;
}


