#playing-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  border: 2px solid; 
  background-color: #eee;
  align-items: center;
}

.card {
  width: 200px; /*set to 20vw*/
  height: 300px; /*set to 50vh*/
  background-color: white;
  border: solid 1px black;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-flow: row wrap;
  word-break: break-all;
  justify-content: center;
  width: 30px;
  height: 80px;
  padding: 5px;
  align-self: flex-start;
  font-size: 35px;
}

.middle {
  width: 32px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  font-size: 50px;
}

.right {
  display: flex;
  flex-flow: row-wrap;
  word-break: break-all;
  width: 30px;
  height: 80px;
  padding: 5px;
  align-self: flex-end;
  font-size: 35px;
  transform: rotate(180deg);
}

.middle .bottom {
  transform: rotate(180deg)
}

.hearts {
  color: red;
}

